@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

html {
    --aura-accent-color-dark: #615FFF;
    --aura-accent-color-light: #4F39F6;
    --aura-app-layout-inset: 0px;
    --aura-background-color-dark: #131822;
    --aura-background-color-light: #F1F5F9;
    --aura-base-radius: 0;
    --aura-base-size: 20;
    --aura-content-color-scheme: dark;
    --aura-contrast-level: 2;
    --aura-font-family: 'Geist Mono', var(--aura-font-family-system);
    --aura-notification-color-scheme: dark;
    --aura-overlay-surface-opacity: 1;
    --aura-surface-level: 2;
    color-scheme: dark;
}

html {
    --vaadin-item-overlay-padding: var(--vaadin-padding-s) 0;
}

vaadin-tabs {
    --vaadin-tabs-background: transparent;
    --vaadin-tabs-border-radius: 0px;
    --vaadin-tabs-padding: 0px;
    --vaadin-tabs-gap: var(--vaadin-gap-l);
    box-shadow: inset 0 -1px 0 0 var(--vaadin-border-color);
    width: auto;
}

vaadin-tab {
    --vaadin-tab-border-radius: 0px;
    --vaadin-tab-border-width: 0px;
    --vaadin-tab-padding: var(--vaadin-padding-m) 0px;
    transition-property: color, box-shadow;
}

vaadin-tab[selected] {
    --vaadin-tab-background: transparent;
    --vaadin-tab-text-color: var(--aura-neutral);
    box-shadow: inset 0 -3px 0 0 var(--aura-accent-color);
}

vaadin-side-nav-item > vaadin-icon {
    color: var(--aura-accent-text-color);
}

vaadin-side-nav-item::part(content) {
    --vaadin-side-nav-item-border-radius: 0px;
    --vaadin-side-nav-item-border-width: 0px;
    margin-inline: calc(var(--vaadin-padding-m) * -1);
    padding-inline: var(--vaadin-padding-l);
    background-clip: border-box;
    border-inline-start: 3px solid transparent;
}

vaadin-side-nav-item[current]::part(content) {
    --aura-surface-level: 1;
    --aura-surface-opacity: 1;
    --vaadin-side-nav-item-background: light-dark(var(--aura-accent-surface), var(--vaadin-background-container));
    --vaadin-side-nav-item-text-color: var(--aura-neutral);
    border-inline-start-color: var(--aura-accent-color);
}