@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    --aura-accent-color-dark: #FF8904;
    --aura-accent-color-light: #FF8904;
    --aura-background-color-dark: #1C1917;
    --aura-background-color-light: #F4F4F0;
    --aura-base-font-size: 13;
    --aura-base-radius: 4;
    --aura-contrast-level: 0.25;
    --aura-font-family: 'Inter', var(--aura-font-family-system);
    --aura-overlay-surface-opacity: 1;
    --aura-surface-level: -0.5;
}

:is(vaadin-button, vaadin-menu-bar-button, vaadin-upload-button),
vaadin-tabs,
vaadin-checkbox,
vaadin-radio-button {
    --aura-accent-color-light: var(--aura-neutral);
    --aura-accent-color-dark: var(--aura-neutral);
}

vaadin-side-nav-item[current]::part(content) {
    --vaadin-side-nav-item-background: var(--vaadin-background-container);
    --vaadin-side-nav-item-border-color: transparent;
}